* {
  margin: 0;
  padding: 0;
}

.all {
  background-color: black;
  color: white;
  padding: 100px 80px;
}

.container {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
  background-color: black;
  text-align: center;
  height: 370px;
}

.sum {
  display: inline-block;
  text-align: right;
  font-size: 250%;
  width: 57%;
  margin: 0 auto;
  background-color: black;
  border: none;
  outline: none;
  color: white;
  border: none;
  height: 22%;
}

.push {
  width: 70%;
  margin: 0 auto;
  height: 78%;
  color: white;
}

.row {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  height: 20%;
}

.push input {
  display: inline-block;
  width: 100%;
  margin: 5px 20px;
  border-radius: 50%;
  border: none;
  background-color: rgb(59, 58, 58);
  color: white;
  font-weight: bold;
  font-size: 120%;
  cursor: pointer;
}

.row .color {
  background-color: rgb(255, 166, 31);
}

.one .part {
  background-color: rgb(226, 226, 226);
  color: black;
}
