* {
  margin: 0;
  padding: 0;
}

.top {
  width: 100%;
  padding: 73px 80px;
  margin: 0 auto;
  background-color: black;
}

table {
  /* 電卓のサイズ */
  width: 300px;
  height: 400px;
  /* インライン要素を中央に配置 */
  text-align: center;
  /* 余白調整 */
  margin: 0 0 0 350px;
  background-color: black;
}

input {
  /* ボタンのサイズ */
  width: 70px;
  height: 70px;
  /* ボタンの文字サイズ */
  font-size: x-large;
  /* 数字部分の背景色 */
  background-color: rgb(59, 58, 58);
  /* ボタンの詳細設定 */
  border: none;
  border-radius: 50%;
  /* クリック時の黒枠を消す */
  outline: none;
  margin: 5px;
  color: white;
}

/* ディスプレイの詳細設定 */
.display {
  width: 350px;
  height: 80px;
  text-align: right; /* 文字を右詰めに */
  /* 見た目の詳細設定 */
  background-color: black;
  color: white;
  font-size: 350%;
  border-radius: 0;
}
/* 演算子の背景色を上書きで設定 */
.operator {
  background-color: rgb(255, 166, 31);
}
/* 記号＝の部分の背景色を上書きで設定 */
.equal {
  background-color: rgb(59, 58, 58);
}

/* カーソルを上に乗せた時に色を濃くする */
input:hover {
  background: #747373b9;
}
.operator:hover {
  background: #339cdd;
}

/* クリック時に色を濃くする */
input:active {
  background: #5a5a5a;
}
.operator:active {
  background: #2c80b4;
}
