<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ATM</title>
  </head>
  <body>
    <div id="ATM">
      <h3>ATM</h3>
      <input type="number" min="1" v-model="nyuryokugaku" />
      <div>入力額：　{{ nyuryokugaku }}円</div>
      <div>
        <button v-on:click="nyukin">預け入れ</button>
        <button v-on:click="syukkin" v-bind:disabled="isDisabled">
          引き出し
        </button>
      </div>
      <h3>口座残高</h3>
      <div>残高：　{{ zandaka }}円</div>
      <h3>取引記録</h3>
      <div v-for="(value, name) in object">
        <div>{{ name }}:　{{ value }}</div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="main.js"></script>
  </body>
</html>
